<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier le Profil</title>
</head>
<body>
    <h1>Modifier votre profil</h1>
    <form method="POST">
        <label for="pseudo">Pseudo :</label>
        <input type="text" name="pseudo" value="{{ user['pseudo'] }}" disabled>
        <br>

        <label for="first_name">Prénom :</label>
        <input type="text" name="first_name" value="{{ user['first_name'] }}">
        <br>

        <label for="last_name">Nom :</label>
        <input type="text" name="last_name" value="{{ user['last_name'] }}">
        <br>

        <label for="age">Âge :</label>
        <input type="number" name="age" value="{{ user['age'] }}">
        <br>

        <label for="gender">Genre :</label>
        <select name="gender">
            <option value="Male" {% if user['gender'] == 'Male' %}selected{% endif %}>Homme</option>
            <option value="Female" {% if user['gender'] == 'Female' %}selected{% endif %}>Femme</option>
        </select>
        <br>

        <label for="location">Localisation :</label>
        <input type="text" name="location" value="{{ user['location'] | join(', ') }}">
        <br>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" value="********" disabled>
        <br>

        <label for="active_user">Statut actif :</label>
        <input type="text" name="active_user" value="{{ user['active_user'] }}" disabled>
        <br>

        <button type="submit">Mettre à jour</button>
    </form>
    <a href="{{ url_for('home') }}" style="padding: 10px; background-color: #6c47ff; color: white; text-decoration: none; border: none; border-radius: 5px; display: inline-block;">
        Home 
    </a>
</body>
</html>
