<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="./../static/output.css">
</head>
<body class="flex flex-col min-h-screen">
    <!-- <h1>Bienvenue sur la page d'accueil</h1>
    <p>Bienvenue, {{ session['pseudo'] }} !</p>
    <p>Bienvenue, {{ session['user_id'] }} !</p> -->
    <div class="bg-[url('./../static/images/background.png')] bg-cover bg-center h-screen w-screen flex flex-col justify-between">  
        <header>
            <nav class="flex items-center justify-between p-4 bg-gray-800 text-white">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo_Pyvote.png') }}" alt="logo" class="h-8">
                </a>
                
                <div class="flex items-center space-x-4">
                    <a href="{{ url_for('profile.profile') }}" class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-500">
                        Voir le Profil
                    </a>
            
                    <a href="{{ url_for('ballot.create_ballot_form') }}" class="px-4 py-2 bg-cyan-500 rounded hover:bg-cyan-400">
                        Créer un Scrutin
                    </a>
            
                    <form action="{{ url_for('auth.logout') }}" method="POST" class="inline">
                        <button type="submit" class="px-4 py-2 bg-red-600 rounded hover:bg-red-500">
                            Se déconnecter
                        </button>
                    </form>
                </div>
            </nav>
            <div class="border-t-2 border-white mt-4"></div>
        </header>
        <div class="w-1/3 p-8 custom-ml text-white">
            <h1 class="text-5xl font-bold mb-4">Bienvenue sur le site web Pyvote</h1>
            <p class="text-4xl mb-4">A quoi consiste Pyvote ?</p>
            <p class="text-2xl">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores magnam, quibusdam deserunt itaque reiciendis, praesentium consequatur veritatis qui esse maxime mollitia provident voluptate a placeat porro facilis repudiandae. Natus, quasi.</p>
        </div>
        <div class="flex justify-center gap-4 mt-16">
            <a href="{{ url_for('ballot.view_ballots') }}">
                <button class="!bg-white text-black text-2xl font-bold py-4 px-8 rounded-full shadow-lg hover:scale-105 transition-transform">
                    Tous les scrutins
                </button>
            </a>            
        </div>
        
    
        <footer class="bg-black text-white py-4 mt-auto">
            <div class="text-center">
                <p class="text-sm">© 2024 Pyvote. Tous droits réservés.</p>
            </div>
        </footer>
    </div>
        
</body>
</html>
