<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
</head>
<body>
    <h1>Profil de {{ user['pseudo'] }}</h1>

    <p><strong>Pseudo :</strong> {{ user['pseudo'] }}</p>
    <p><strong>Prénom :</strong> {{ user['first_name'] }}</p>
    <p><strong>Nom :</strong> {{ user['last_name'] }}</p>
    <p><strong>Mot de passe :</strong> ******** (non affiché pour des raisons de sécurité)</p>
    <p><strong>Âge :</strong> {{ user['age'] }}</p>
    <p><strong>Genre :</strong> {{ user['gender'] }}</p>
    <p><strong>Participations aux sondages :</strong> 
        {% if user['participation_poll'] %}
            {{ user['participation_poll'] | join(', ') }}
        {% else %}
            Aucune participation enregistrée.
        {% endif %}
    </p>
    <p><strong>Localisation :</strong> 
        {% if user['location'] %}
            {{ user['location'] | join(', ') }}
        {% else %}
            Aucune localisation enregistrée.
        {% endif %}
    </p>
    <p><strong>Créations de sondages :</strong> 
        {% if user['creation_polls'] %}
            {{ user['creation_polls'] | join(', ') }}
        {% else %}
            Aucune création enregistrée.
        {% endif %}
    </p>
    <p><strong>Statut actif :</strong> {{ user['active_user'] }}</p>
    <p><strong>Commentaires :</strong> 
        {% if user['comment'] %}
            {{ user['comment'] | join(', ') }}
        {% else %}
            Aucun commentaire enregistré.
        {% endif %}
    </p>

    <!-- Lien pour modifier le profil -->
    <a href="{{ url_for('profile.edit_profile') }}">Modifier le profil</a>

    <a href="{{ url_for('home') }}" style="padding: 10px; background-color: #6c47ff; color: white; text-decoration: none; border: none; border-radius: 5px; display: inline-block;">
        Home 
    </a>
</body>
</html>
