<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="./../static/output.css">
</head>
<body>
    <div class="bg-[url('./../static/images/background.png')] bg-cover bg-center h-screen w-screen flex flex-col justify-between">  
        <header>
            <nav class="flex items-center justify-between p-4  text-white">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo_Pyvote.png') }}" alt="logo" class="h-8">
                </a>
                
                <div class="flex items-center space-x-4">
                    <a href="{{ url_for('profile.profile') }}" class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-500">
                        Voir le Profil
                    </a>
            
                    <a href="{{ url_for('ballot.create_ballot_form') }}" class="px-4 py-2 bg-cyan-500 rounded hover:bg-cyan-400">
                        Créer un Scrutin
                    </a>
            
                    {% if session.get('user_id') %}
                    <!-- Si l'utilisateur est connecté -->
                    <form action="{{ url_for('auth.logout') }}" method="POST" class="inline">
                        <button type="submit" class="px-4 py-2 bg-red-600 rounded hover:bg-red-500">
                            Se déconnecter
                        </button>
                    </form>
                    {% else %}
                        <!-- Si aucun utilisateur n'est connecté -->
                        <a href="{{ url_for('auth.login') }}" class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-500">
                            Se connecter
                        </a>
                    {% endif %}                
                </div>
            </nav>
            <div class="border-t-2 border-white mt-4"></div>
        </header>
    <main>
        <h1 class="text-4xl text-white text-center mt-6">Profil de {{ user['pseudo'] }}</h1>
        <div class="flex justify-center items-stretch mt-6 gap-4">
            <div class="bg-white bg-opacity-90 backdrop-blur-lg rounded-2xl shadow-lg p-8 w-full sm:w-96">
                <p><strong>Pseudo :</strong> {{ user['pseudo'] }}</p>
                <p><strong>Prénom :</strong> {{ user['first_name'] }}</p>
                <p><strong>Nom :</strong> {{ user['last_name'] }}</p>
                <p><strong>Mot de passe :</strong> ••••••••</p>
                <p><strong>Âge :</strong> {{ user['age'] }}</p>
                <p><strong>Genre :</strong> {{ user['gender'] }}</p>
                <p><strong>Localisation :</strong> 
                    {% if user['location'] %}
                    {{ user['location'] | join(', ') }}
                    {% else %}
                    Aucune localisation enregistrée.
                    {% endif %}
                 </p>
            </div>


            <div class="bg-white bg-opacity-90 backdrop-blur-lg rounded-2xl shadow-lg p-8 w-full sm:w-96">
                <p><strong>Participations aux sondages :</strong> 
                    {% if user['participation_poll'] %}
                    {{ user['participation_poll'] | join(', ') }}
                    {% else %}
                    Aucune participation enregistrée.
                    {% endif %}
                </p>          
                <p><strong>Créations de sondages :</strong> 
                {% if user['creation_polls'] %}
                {{ user['creations_polls'] | join(', ') }}
                {% else %}
                Aucune création enregistrée.
                {% endif %}
                </p>
                <p><strong>Commentaires :</strong> 
                    {% if user['comment'] %}
                    {{ user['comment'] | join(', ') }}
                    {% else %}
                     Aucun commentaire enregistré.
                    {% endif %}
                </p>
                <div style="display: flex; align-items: center; margin-top: 3rem; justify-content: center;">
                        <a href="{{ url_for('ballot.user_ballots') }}">
                            <button class="!bg-white text-black text-1xl font-bold py-2 px-4 rounded-full shadow-lg hover:scale-105 transition-transform">
                                Voir vos Scrutins
                            </button>
                        </a>   
                </div>
            </div>
        </div>
        <div class="flex gap-4 justify-center mt-6">
            <!-- Bouton pour la première carte -->
            <a href="{{ url_for('profile.edit_profile') }}">
                <button class="bg-white text-black font-bold py-4 px-8 rounded-full shadow-lg hover:scale-105 transition-transform">
                    Modifier le profil
                </button>
            </a>
        
            <!-- Bouton pour la deuxième carte -->
            <a href="{{ url_for('profile.edit_profile') }}">
                <button class="bg-white text-black font-bold py-4 px-8 rounded-full shadow-lg hover:scale-105 transition-transform">
                    Modifier le scrutin
                </button>
            </a>
        </div>
    </main>
    <footer class="bg-black text-white py-4 mt-auto">
        <div class="text-center">
            <p class="text-sm">© 2024 Pyvote. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>