<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="./../static/output.css">
</head>
<body>
    <div class="bg-[url('./../static/images/background.png')] bg-cover bg-center h-screen w-screen flex flex-col justify-between">  
        <header>
            <nav class="flex items-center justify-between p-4">
                <a href="home.html"><img src="./../static/images/logo_Pyvote.png" alt="logo" class="h-8"></a>
                <div class="text-white">
                    <a href="{{ url_for('home') }}">HomePage</a>
                </div>
            </nav>
            <div class="border-t-2 border-white mt-4"></div>
        </header>
    <main style="color: white; padding: 10rem;">

        <h1 style="text-align: center; font-size: 3rem; font-weight: bolder; margin-bottom: 3rem;">Profil de {{ user['pseudo'] }}</h1>
        <div style="display: flex; align-items: center; justify-content: space-between; gap: 6rem; text-align: justify;">

            <div>
                
                <p><strong>Pseudo :</strong> {{ user['pseudo'] }}</p>
                <p><strong>Prénom :</strong> {{ user['first_name'] }}</p>
                <p><strong>Nom :</strong> {{ user['last_name'] }}</p>
                <p><strong>Mot de passe :</strong> ••••••••</p>
                <p><strong>Âge :</strong> {{ user['age'] }}</p>
                <p><strong>Genre :</strong> {{ user['gender'] }}</p>
                <p><strong>Localisation :</strong> 
                {% if user['location'] %}
                {{ user['location'] | join(', ') }}
                {% else %}
                Aucune localisation enregistrée.
                {% endif %}
                </p>
                <p><strong>Statut actif :</strong> {{ user['active_user'] }}</p>
                <div style="display: flex; align-items: center; margin-top: 3rem; justify-content: center;">

                    <a href="{{ url_for('profile.edit_profile') }}" class="hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modifier le profil</a>
                
                </div>
            </div>


            <div>
                <p><strong>Participations aux sondages :</strong> 
                    {% if user['participation_poll'] %}
                    {{ user['participation_poll'] | join(', ') }}
                    {% else %}
                    Aucune participation enregistrée.
                    {% endif %}
                </p>          
                <p><strong>Créations de sondages :</strong> 
                {% if user['creation_polls'] %}
                {{ user['creations_polls'] | join(', ') }}
                {% else %}
                Aucune création enregistrée.
                {% endif %}
                </p>
                <p><strong>Commentaires :</strong> 
                {% if user['comment'] %}
                {{ user['comment'] | join(', ') }}
                {% else %}
                Aucun commentaire enregistré.
                {% endif %}
                </p>
                <div style="display: flex; align-items: center; margin-top: 3rem; justify-content: center;">

                    <a href="{{ url_for('profile.edit_profile') }}" class="hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Modifier les Scrutins</a>
                
                </div>
            </div>
        </div>     
    </main>
    </div>
    <footer class="bg-black text-white py-4 mt-auto">
        <div class="text-center">
            <p class="text-sm">© 2024 Pyvote. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>