<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote - {{ ballot.name_poll }}</title>
</head>
<body>
    <h1>Participer au vote</h1>
    
    <h2>{{ ballot.name_poll }}</h2>
    <p>{{ ballot.poll_question }}</p>
    
    <form method="POST" action="{{ url_for('ballot.submit_vote', ballot_id=ballot._id) }}">
        <h3>Choisissez une option :</h3>
        
        <!-- Boutons radio pour le vote majoritaire -->
        {% for option in ballot.poll_response %}
        <div>
            <input type="radio" id="option_{{ loop.index }}" name="selected_option" value="{{ option }}" required>
            <label for="option_{{ loop.index }}">{{ option }}</label>
        </div>
        {% endfor %}
        
        <br>
        <button type="submit" style="padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px;">Valider mon vote</button>
    </form>
    
    <br>
    <a href="{{ url_for('ballot.view_ballots') }}" style="padding: 10px; background-color: #6c47ff; color: white; text-decoration: none; border: none; border-radius: 5px;">
        Retour aux scrutins
    </a>
</body>
</html>
